---
layout: default
title: evolt.org
---

<div id="home">

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}

    <div class="node-sticky">
        <img class="portrait" src="{{ post.avatar }}" alt="Picture of {{ post.user }}"  />      <div class="postinfo">{{ post.date | date_to_long_string }}</div>
        <div class="postinfo"><a href="commentary_and_society">{{ post.category }}</a> | {{ post.real_name }}</div>
        <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <div class="node-summary">
            {{ post.excerpt }}
        </div>
    </div>

    {% endfor %}

    <div id="pager" class="container-inline">
        {% if paginator.previous_page %}
        <div class="pager-first"><a href="/">first page</a></div>
        <div class="pager-previous">
            <div class="pager-first"><a href="/page{{ paginator.previous_page }}">previous page</a></div>
        </div>
        {% endif %}
        <div class="pager-list">
            <div class="pager-previous">
                <div class="pager-first">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
            </div>
        </div>
        {% if paginator.next_page %}
        <div class="pager-next"><a href="/page{{ paginator.next_page }}">next page</a></div>
        {% endif %}
    </div>

</div>