---
layout: default
---
<h1 class="content-title">{{ page.title }}</h1>

<div id="meta-data">
    <div class="postinfo-story">
        <p>Posted on <strong>{{ page.date | date_to_string }}</strong></p>
        <p>in <strong><a href="commentary_and_society">{{ page.category }}</a></strong></p>
        <p>by <strong>{{ page.real_name }}</strong> (<a href="" title="View user profile.">{{ page.user }}</a>)</p>
    </div>
    <div id="participate">
        <p>Rated <strong>4.21 (Ratings: {{ page.ratings }})</strong> <!--(<a href="FoodPhotos#node-actions">Add your rating</a>)--></p>
    </div>
    <div id="want-more">
        <h4>Want more?</h4>
        <ul>
            <li>More articles in <a href="commentary_and_society">{{ page.category }}</a></li>
            <li>More articles by <a href="user/88" title="View user profile.">{{ page.user }}</a></li>
        </ul>
    </div>
    <div class="visualClearRight">&nbsp;</div>
</div>

<div id="authorbox">
    <img class="portrait" src="{{ page.avatar }}" alt="Picture of {{ page.user }}"  />
    <h4>{{ page.real_name }}</h4>
    <p><a href="FoodPhotos#authorbio">Member info</a> | <a href="/user/88">Full bio</a></p>
    <!-- <p><a href="/cubes_definition/index.html"><img src="/themes/evolt/6alt_rating09.gif" title="{{ page.user }} has written 85 articles" /> -->
    <!-- What's this?--> <!-- </a></p> -->

    <p>User since: <strong>{{ page.user_since }}</strong></p>
    <!-- <p>Last login: <strong>March 15, 2013</strong></p> -->

    <p>Articles written: <strong>{{ page.article_count }}</strong></p>
</div>

<div class="node-content">
{{ content }}
</div>

{% if page.user_biog %}
<div id="authorbio"><a name="authorbio"></a>
    {{ page.user_biog }}
</div>
{% endif %}
